[build]
command = "npm run build"

[build.environment]
NODE_VERSION = "22"

[[build.upload]]
format = "service-worker"

[env.production]
compatibility_flags = ["nodejs_compat"]

[env.preview]
compatibility_flags = ["nodejs_compat"]
